.montagnes {
  background-image: url(/static/media/bg-Travelagency.e45bfbd3.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 212vh;
  height: 200vh;
  margin-left: -721px;
}

.robot {
  display: none;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}