* {
  margin: 0;
  padding: 0;
}
.newbutton {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover {
  background: #2980b9;
}

.forgot {
  margin-left: 564px;
  position: absolute;
  margin-top: 27px;
  color: black;
}
.simpleLink2 {
  margin-left: 563px;
  position: absolute;
  margin-top: 76px;
  color: black;
}
.mdp {
  margin-left: -440px;
  position: absolute;
}

.myemail3 {
  margin-top: -2px;
  position: absolute;
  margin-left: -412px;
  font-size: 22px;
}

#movelogin {
  margin-top: 200px;
}

.connexions {
  color: #444;
  font-size: 35px;
  position: absolute;
  margin-left: 578px;
  text-align: center;
  margin-top: 88px;
}
button {
  font-size: 20px;
}

.simpleLink33 {
  margin-top: 3px;
  margin-left: 415px;
  position: absolute;
}
